ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}

img{
    width: 145px;
    height: 145px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category{
    margin-bottom: 10px;
    text-align: center;
    height: 30px;
}