<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Process Scheduling Simulation Restrictions</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 128px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--/*@thymesVar id="process_scheduling_restrictions" type="miuoshki.ossim.commands.ProcessSchedulingRestrictionsCommand"*/-->
            <form th:object="${process_scheduling_restrictions}" th:action="@{/process_scheduling_restrictions/}"
                  method="post">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Process Scheduling Simulation Restrictions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('nOfProcesses')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Number of Processes:</label>
                                    <input type="text" class="form-control" th:field="*{NOfProcesses}" th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('nOfProcesses')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('nOfProcesses')}" th:text="${err}" />
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('maxCpuTime')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Max Cpu Time:</label>
                                    <input type="text" class="form-control" th:field="*{maxCpuTime}" th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('maxCpuTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxCpuTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('maxArrivalTime')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Max Arrival Time:</label>
                                    <input type="text" class="form-control" th:field="*{maxArrivalTime}" th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('maxArrivalTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxArrivalTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('quantityOfTime')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Quantity of Time:</label>
                                    <input type="text" class="form-control" th:field="*{quantityOfTime}" th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('quantityOfTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('quantityOfTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>