<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disk Scheduling Simulation Restrictions</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 128px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--/*@thymesVar id="disk_scheduling_restrictions" type="miuoshki.ossim.commands.DiskSchedulingRestrictionsCommand"*/-->
            <form th:object="${disk_scheduling_restrictions}" th:action="@{/disk_scheduling_restrictions/}"
                  method="post">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Disk Scheduling Simulation Restrictions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('startingSector')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Starting Sector:</label>
                                    <input type="text" class="form-control" th:field="*{startingSector}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('startingSector')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('startingSector')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('queueSize')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Queue Size:</label>
                                    <input type="text" class="form-control" th:field="*{queueSize}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('queueSize')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('queueSize')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('howLate')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>How Late:</label>
                                    <input type="text" class="form-control" th:field="*{howLate}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('howLate')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('howLate')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('NOfDeadliners')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>How Many Deadliners:</label>
                                    <input type="text" class="form-control" th:field="*{NOfDeadliners}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('NOfDeadliners')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('NOfDeadliners')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('maxDeadline')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Max Deadline:</label>
                                    <input type="text" class="form-control" th:field="*{maxDeadline}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('maxDeadline')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxDeadline')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4"
                                     th:class="${#fields.hasErrors('minDeadline')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                    <label>Min Deadline:</label>
                                    <input type="text" class="form-control" th:field="*{minDeadline}"
                                           th:errorclass="has-error"/>
                                    <span th:class="help-block" th:if="${#fields.hasErrors('minDeadline')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('minDeadline')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>