<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disk Scheduling Simulation Results</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 32px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="#" th:href="@{'/'}">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Restrictions</h1>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li th:text="${'Starting sector: ' + (restrictions.startingSector)}" >Starting Sector</li>
                            <li th:text="${'Queue size: ' + (restrictions.queueSize)}">Queue Size</li>
                            <li th:text="${'How late: ' + (restrictions.howLate)}">How Late</li>
                            <li th:text="${'Min deadline: ' + (restrictions.minDeadline)}">Min Deadline</li>
                            <li th:text="${'Max deadline: ' + (restrictions.maxDeadline)}">Max Deadline</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Disk Scheduling Simulation Results</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(algorithms)}">
                            <table class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Algorithms name</th>
                                    <th>Algorithms deadline handling</th>
                                    <th>Average head moves</th>
                                    <th>Average missed deadlines</th>
                                </tr>
                                </thead>
                                <tr th:each="algorithm : ${algorithms}">
                                    <td th:text="${algorithm}">Algorithms Name</td>
                                    <td th:text="${algorithm.priorityHandling}">NONE</td>
                                    <td th:text="${algorithm.averageHeadMoves}">Head moves</td>
                                    <td th:if="${algorithm.averageMissedDeadlines != 0}"
                                        th:text="${algorithm.averageMissedDeadlines}">Missed deadlines
                                    </td>
                                    <td th:if="${algorithm.averageMissedDeadlines == 0}">-</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>