<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Distributed Process Scheduling Simulation Restrictions</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 128px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--/*@thymesVar id="distributed_processor_scheduling_restrictions" type="miuoshki.ossim.commands.DistributedProcessSchedulingRestrictionsCommand"*/-->
            <form th:object="${distributed_processor_scheduling_restrictions}" th:action="@{/distributed_processor_scheduling_restrictions/}" method="post">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Distributed Process Scheduling Simulation Restrictions</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('nOfProcessors')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                <label>Number of processors:</label>
                                <input type="text" class="form-control" th:field="*{NOfProcessors}" th:errorclass="has-error"/>
                                <span th:class="help-block" th:if="${#fields.hasErrors('nOfProcessors')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('nOfProcessors')}" th:text="${err}"/>
                                        </ul>
                                </span>
                            </div>
                            <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('maxNOfProcessesPerProcessor')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                <label>Max number of processes per processor:</label>
                                <input type="text" class="form-control" th:field="*{maxNOfProcessesPerProcessor}" th:errorclass="has-error"/>
                                <span th:class="help-block" th:if="${#fields.hasErrors('maxNOfProcessesPerProcessor')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxNOfProcessesPerProcessor')}" th:text="${err}"/>
                                        </ul>
                                </span>
                            </div>
                            <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('maxNOfInquiries')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                <label>Max number of inquiries:</label>
                                <input type="text" class="form-control" th:field="*{maxNOfInquiries}" th:errorclass="has-error"/>
                                <span th:class="help-block" th:if="${#fields.hasErrors('maxNOfInquiries')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxNOfInquiries')}" th:text="${err}"/>
                                        </ul>
                                </span>
                            </div>
                            <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('lowerBoundary')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                <label>Lower boundary:</label>
                                <input type="text" class="form-control" th:field="*{lowerBoundary}" th:errorclass="has-error"/>
                                <span th:class="help-block" th:if="${#fields.hasErrors('lowerBoundary')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lowerBoundary')}" th:text="${err}"/>
                                        </ul>
                                </span>
                            </div>
                            <div class="col-md-4 col-md-offset-4" th:class="${#fields.hasErrors('upperBoundary')} ? 'col-md-4 col-md-offset-4 form-group has-error' : 'col-md-4 col-md-offset-4 form-group'">
                                <label>Upper boundary:</label>
                                <input type="text" class="form-control" th:field="*{upperBoundary}" th:errorclass="has-error"/>
                                <span th:class="help-block" th:if="${#fields.hasErrors('upperBoundary')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('upperBoundary')}" th:text="${err}"/>
                                        </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>