<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Distributed Process Scheduling Simulation Results</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 32px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="#" th:href="@{'/'}">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Restrictions</h1>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li th:text="${'Number of processors: ' + (restrictions.NOfProcessors)}">Number Of Processors</li>
                            <li th:text="${'Max number of processes per processor: ' + (restrictions.maxNOfProcessesPerProcessor)}">Max Number Of Processes Per Processor</li>
                            <li th:text="${'Max number of inquiries: ' + (restrictions.maxNOfInquiries)}">Max Number Of Inquiries</li>
                            <li th:text="${'Lower boundary: ' + (restrictions.lowerBoundary)}">Lower boundary</li>
                            <li th:text="${'Upper boundary: ' + (restrictions.upperBoundary)}">Upper boundary</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Distributed Process Scheduling Simulation Results</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(algorithms)}">
                            <table class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Algorithms name</th>
                                    <th>Average processor usage</th>
                                    <th>Average deviation</th>
                                    <th>Number of interactions</th>
                                </tr>
                                </thead>
                                <tr th:each="algorithm : ${algorithms}">
                                    <td th:text="${algorithm}">Algorithms Name</td>
                                    <td th:text="${algorithm.stats.avgProcessorsUsage}">Average Processor Usage</td>
                                    <td th:text="${algorithm.stats.avgDeviation}">Average Deviation</td>
                                    <td th:text="${algorithm.stats.numberOfInteractions}">Number of interactions</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>